//colors
$primary: #120c17;
$secondary: rgba(255, 255, 255, 0.03);
$tertiary: rgba(255, 255, 255, 0.08);

$text-primary: white;
$text-secondary: #7d7781;
$text-orange: #ff9839;
$text-success: #29c226;
$text-cancelled: #fa3939;
$text-waiting: #ffce4f;

$border-prymary: rgba(255, 255, 255, 0.07);
$border-secondary: rgba(255, 255, 255, 0.15);

//shadows
$sh-primary:
  2px 0px 10px 0px rgba(6, 3, 9, 0.05),
  30px 25px 48px 8px rgba(6, 3, 9, 0.1);
$sh-secondary:
  2px 0px 10px 0px rgba(6, 3, 9, 0.05),
  30px 25px 48px 8px rgba(6, 3, 9, 0.1);
$sh-tertiary: 20px 10px 40px 5px rgba(6, 3, 9, 0.5);

//gradients
$bg-orrange: linear-gradient(132deg, #ffae47 0%, #fa3939 100%);

//filters
$blur: blur(5px);

//radius
$radii: 15px;

//font-weights
$medium: 500;
$semibold: 600;
$bold: 700;

//breakpoints
$xl: 1280px;
$lg: 1024px;
$md: 768px;
